body {
    overflow-x: hidden;
    background-color: rgb(218, 213, 213);
}

.request__main {
    background-color: #37496d;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    flex-direction: column;
    margin: 50px 400px 50px 400px;
    border: 0;
}

.title {
    background-color: #2b3956;
    color: white;
    margin: 0;
    border: 0;
    padding: 20px;
    text-align: center;
}

.request__main-items {
    padding: 0px 100px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.item {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-self: center;
}

.name {
    justify-self: flex-start;
}

.item__choice {
    justify-self: flex-start;
}

.item__choice-auto {
    width: 150px;
}

.item__choice-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.btn {
    width: 150px;
    align-self: center;
    background-color: white;
    color: #2b3956;
    border-radius: 30px;
    padding: 10px;
}


.request__main__form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
}

.request__main__form__input {
    box-sizing: border-box;
    color: black;
    border: 1px solid black;
    padding: 15px;
    border-radius: 3px;
}